body {
  margin-left: 20px;
  background-color: rgb(241, 241, 241);
}

.dayHeading {
  font-family: 'Bebas Neue', sans-serif;
}

.taskline {
  border-radius: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  display: flex;
  font-size: 16px;
  padding: 10px; 
  border-radius: 5px;
  background-color: white;
  width: 50%;
  margin-top: 10px;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}

.selectedtaskline {
  border-color: rgb(205, 205, 205);
  border-style: solid;
}

.dialogtopline {
display: flex;
align-items: center;
}

.dialogclose {
  color: #909090;
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 20px;
  padding: 10px;
}

.dialogclose:hover {
  color: #222222;
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 20px;
}



.taskline:hover {
  border-color: rgb(205, 205, 205);
  border-style: solid;
}

.tasklineleft {
  display: flex;
  justify-content: left;
  align-items: center;
}

.tasklinedaily {
  background-color: rgb(219, 175, 0);
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
}

input {
  font-size: 16px;
  border: none;
  outline-color: rgb(219, 175, 0);
  padding: 10px;
}

input:focus {
  border: none;
}

input::placeholder {
    opacity: 1;
    color: black;
  }

.tasklinecompletebutton {
  background: none;
  padding: 0px;
  border: none;
}

.taskinlinedescriptionspan {
  font-size: 16px;
  color: rgb(47, 47, 47);
  vertical-align: middle;
}

.taskinlinedescriptionspan:hover {
  color: rgb(124, 124, 124);
}

.tasklinecompletespan {
  font-size: 20px;
  color: rgb(124, 124, 124);
  vertical-align: middle;
  margin-right: 20px;
  margin-left: 10px
}

.tasklinecompletespan:hover {
  color: rgb(0, 159, 56);
}

.descriptionDialog {
  width: 30%;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 70%;
  height: 100%;
  border-color: white;
  box-shadow: 10px 10px 10px 5px #909090;
  border-radius: 5px;
}