body {
  margin-left: 50px;
  margin-bottom: 200px;
  background-color: rgb(241, 241, 241);
}

body, input {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.headerrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%
}

.addTaskButton {
font-size: 20px;
color: #909090;
}

.addTaskButton:hover {
  font-size: 20px;
  color: #00960c;
  cursor: pointer;
}

.newtaskfields input {
  border-radius: 5px;
  margin-bottom: 30px;
  width: 300px;
  display: block;
  font-size: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  outline-color: rgb(0, 0, 0);
  padding: 10px;
}

.newtaskfields input[type="checkbox"] {
  font-size: 100px;
}

.newtaskfields button {
  margin-top: 10px;
  background-color: rgb(228, 228, 228);  
  box-shadow: none;
  text-shadow: none;
  outline: none;
  border-color: white;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 100px;
  padding: 10px;
  border-style: solid;
  font-size: 16px;
}

.newtaskfields button:hover {
  background-color: rgb(209, 209, 209);  
  cursor: pointer;
}

.dailycheckbox {
  display: flex;
  justify-content: left;
  align-items: center;
  vertical-align: middle;
  padding-left: 0px;
  margin-bottom: 24px;

}

.dailycheckbox input {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

.dailycheckboxlabel {
  vertical-align: middle;
}

.dailycheckboxinputspan {
height: 20px;
vertical-align: middle;
margin-left: 0px;
justify-content: left;
padding-left: 10px;
}

.dailycheckboxinput {
padding-left: 0px;
  align-content: left;
  align-items: left;
  justify-content: left;
  width: 10%;
  padding-left: 0px;
  }


.dayHeading {
  font-family: 'Bebas Neue', sans-serif;
}

.taskline {
  border-radius: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  display: flex;
  font-size: 16px;
  padding: 10px; 
  border-radius: 5px;
  background-color: white;
  width: 60%;
  margin-top: 10px;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}

.taskline:hover {
  border-color: rgb(205, 205, 205);
  border-style: solid;
  background-color: rgb(220, 220, 220);
  cursor: pointer;

}

.selectedtaskline {
  border-color: rgb(205, 205, 205);
  border-style: solid;
  background-color: rgb(229, 229, 229);
}

.tasklinetitle {
  width: 350px;
}

.tasklineactiveafter {
  width: 110px;
}

.dialogtopline {
display: flex;
align-items: center;
}

.dialogclose {
  color: #909090;
  font-size: 20px;
  width: 20px;
}

.dialogclose:hover {
  color: #222222;
  cursor: pointer;

}

.tasklineleft {
  display: flex;
  justify-content: left;
  align-items: center;
}

.tasklinedaily {
  background-color: rgb(219, 175, 0);
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
}

input {
  font-size: 16px;
  border: none;
  outline-color: white;
  padding: 10px;
  border-radius: 5px;
}

input:focus {
  border: none;
}

input::placeholder {
    opacity: 1;
    color: black;
  }

.tasklinecompletebutton {
  background: none;
  padding: 0px;
  border: none;
}

.taskinlinedescriptionspan {
  font-size: 16px;
  color: rgb(47, 47, 47);
  vertical-align: middle;
}

.taskinlinedescriptionspan:hover {
  color: rgb(124, 124, 124);

}

.tasklinecompletespan {
  font-size: 20px;
  color: rgb(124, 124, 124);
  vertical-align: middle;
  margin-right: 20px;
  margin-left: 10px
}

.tasklinecompletespan:hover {
  color: rgb(0, 159, 56);
  cursor: pointer;

}

.dialogDescription {
  border-color: white;
  outline-color: white;
}

.descriptionDialog {
  width: 30%;
  padding: 20px;
  position: fixed;
  overflow-y:auto;
  overflow-x:hidden;
  top: 0px;
  bottom: 0px;
  right: 0px;
  line-height: 28px;
  border-color: white;
  background-color: white;
  box-shadow: 10px 10px 10px 5px #909090;
  border-radius: 5px;
}
